body{
    background-image: url(hasnain.jpg);
    height: 100vh;
    background-size: cover;
}
.feedback{
    background-color:rgb(194, 136, 21);
    color: black;
    position: absolute;
    width: 400px;
    
}
button{
    margin-top: 150px;
    background-color: rgb(196, 158, 7);
    color: black;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    margin-left: 180px;
}
button:hover{
    background-color: rgb(141, 205, 12);
}
@media (max-width:400px){
    .feedback{
        width:90%;
    }
}